.uncheck {
    font-size: 12px;
    color: red;
}

.invalid input,
.invalid textarea {
    border: 1px solid red;
}

.invalid input:focus,
.invalid textarea:focus {
    outline: none;
    border: 1px solid #ff0000;
    box-shadow: 0px 0px 4px #ff0000;
    -moz-box-shadow: 0px 0px 4px #ff0000;
    -webkit-box-shadow: 0px 0px 4px #ff0000;
}

.line {
    border-top: 1px solid #cccccc;
    margin-top: 35px;
    margin-bottom: 35px;
}

.add_btn a {
    background: none repeat scroll 0 0 #ff6766;
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 700;
    padding: 8px 20px;
    text-align: left;
    text-transform: uppercase;
    border:2px solid #ff6766;
}
.add_btn a:hover {
    background:#fff;
    color: #ff6766;
    border:2px solid #ff6766;
    text-decoration:none;
}